In [1]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load (Remember to Change These)
mouse_drug_data_to_load = "data/mouse_drug_data.csv"
clinical_trial_data_to_load = "data/clinicaltrial_data.csv"

# Read the Mouse and Drug Data and the Clinical Trial Data
mouse_data = pd.read_csv(mouse_drug_data_to_load)
trial_data = pd.read_csv(clinical_trial_data_to_load)

# Combine the data into a single dataset
all_data = pd.merge(mouse_data,trial_data,how = 'inner')

# Display the data table for preview
all_data.head()

  Mouse ID      Drug  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     f234  Stelasyn          0           45.000000                 0
1     f234  Stelasyn          5           47.313491                 0
2     f234  Stelasyn         10           47.904324                 0
3     f234  Stelasyn         15           48.735197                 1
4     f234  Stelasyn         20           51.112713                 2

## Tumor Response to Treatment

In [2]:
# Store the Mean Tumor Volume Data Grouped by Drug and Timepoint 
tumor = all_data.groupby(['Drug','Timepoint'])
average = tumor.mean()['Tumor Volume (mm3)']
# Convert to DataFrame
summary_table1 = pd.DataFrame(average)

# Preview DataFrame
summary_table1.head()

                     Tumor Volume (mm3)
Drug      Timepoint
Capomulin 0                   45.000000
          5                   44.266086
          10                  43.084291
          15                  42.064317
          20                  40.716325

In [3]:
# Store the Standard Error of Tumor Volumes Grouped by Drug and Timepoint
from scipy.stats import sem
#summary_table1['Standard Error'] = summary_table1['Tumor Volume (mm3)'].sem()
standard_errors = tumor.sem()['Tumor Volume (mm3)']

# Convert to DataFrame
summary_table1_standard_errors = pd.DataFrame(standard_errors)

# Preview DataFrame
summary_table1_standard_errors.head()

                     Tumor Volume (mm3)
Drug      Timepoint
Capomulin 0                    0.000000
          5                    0.448593
          10                   0.702684
          15                   0.838617
          20                   0.909731

In [4]:
# Minor Data Munging to Re-Format the Data Frames
summary_table1 = summary_table1.unstack(level = ['Drug'])
summary_table1 = pd.DataFrame(summary_table1)
# Preview that Reformatting worked
summary_table1.head()

          Tumor Volume (mm3)                                              \
Drug               Capomulin   Ceftamin  Infubinol   Ketapril   Naftisol
Timepoint
0                  45.000000  45.000000  45.000000  45.000000  45.000000
5                  44.266086  46.503051  47.062001  47.389175  46.796098
10                 43.084291  48.285125  49.403909  49.582269  48.694210
15                 42.064317  50.094055  51.296397  52.399974  50.933018
20                 40.716325  52.157049  53.197691  54.920935  53.644087


Drug         Placebo   Propriva   Ramicane   Stelasyn  Zoniferol
Timepoint
0          45.000000  45.000000  45.000000  45.000000  45.000000
5          47.125589  47.248967  43.944859  47.527452  46.851818
10         49.423329  49.101541  42.531957  49.463844  48.689881
15         51.359742  51.067318  41.495061  51.529409  50.779059
20         54.364417  53.346737  40.238325  54.067395  53.170334

In [5]:
# Generate the Plot (with Error Bars)
x_axis = summary_table1.index
data = summary_table1.columns
plt.plot(x_axis,summary_table1[])
# Save the Figure

SyntaxError: invalid syntax (<ipython-input-5-101bcdc1d3b3>, line 4)

In [ ]:
# Show the Figure

## Metastatic Response to Treatment

In [ ]:
# Store the Mean Met. Site Data Grouped by Drug and Timepoint 

# Convert to DataFrame

# Preview DataFrame

In [ ]:
# Store the Standard Error associated with Met. Sites Grouped by Drug and Timepoint 

# Convert to DataFrame

# Preview DataFrame

In [ ]:
# Minor Data Munging to Re-Format the Data Frames

# Preview that Reformatting worked

In [ ]:
# Generate the Plot (with Error Bars)

# Save the Figure

# Show the Figure

## Survival Rates

In [ ]:
# Store the Count of Mice Grouped by Drug and Timepoint (W can pass any metric)

# Convert to DataFrame

# Preview DataFrame

In [ ]:
# Minor Data Munging to Re-Format the Data Frames

# Preview the Data Frame

In [ ]:
# Generate the Plot (Accounting for percentages)

# Save the Figure

# Show the Figure
plt.show()

## Summary Bar Graph

In [ ]:
# Calculate the percent changes for each drug

# Display the data to confirm

In [ ]:
# Store all Relevant Percent Changes into a Tuple


# Splice the data between passing and failing drugs


# Orient widths. Add labels, tick marks, etc. 


# Use functions to label the percentages of changes


# Call functions to implement the function calls


# Save the Figure


# Show the Figure
fig.show()