### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
df = purchase_data
df3 = df

## Player Count

* Display the total number of players

In [2]:
total_players = len(df.count(axis = 'columns'))
summary_table = pd.DataFrame({"Total Players": [total_players]})
summary_table

   Total Players
0            780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
item_count = len(df["Item Name"].unique())
average = df["Price"].mean()
revenue = df["Price"].sum()
#revenue = revenue.map("${:.2f}".format)
summary_table2 = pd.DataFrame({"Unique Items": [item_count],"Average Price":average,
                               "Total Purchases":total_players, "Total Revenue": revenue})
summary_table2["Total Revenue"] = summary_table2["Total Revenue"].map("${:.2f}".format)
summary_table2["Average Price"]= summary_table2["Average Price"].map("${:.2f}".format)
summary_table2

   Unique Items Average Price  Total Purchases Total Revenue
0           179         $3.05              780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
male_count = df["Gender"]=="Male"
male_count = male_count.value_counts()
male_count = male_count[1]
female_count = df["Gender"] =="Female"
female_count = female_count.value_counts()
female_count = female_count[1]
other_count = total_players-male_count-female_count
male_percent = (male_count/total_players)*100
female_percent = (female_count/total_players)*100
other_percent = (other_count/total_players)*100
cheat = ["Male","Female","Other / Non-Disclosed"]
summary_table3 = pd.DataFrame({"Total Count":[male_count,female_count,other_count],
                               "Percentage of Players":[male_percent,female_percent,other_percent]})
summary_table3.index=cheat
summary_table3["Percentage of Players"]=summary_table3["Percentage of Players"].map("{:.2f}%".format)
summary_table3

                       Total Count Percentage of Players
Male                           652                83.59%
Female                         113                14.49%
Other / Non-Disclosed           15                 1.92%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
male_df = df.loc[df['Gender'] == "Male", :]
male_average = male_df['Price'].mean()
male_total = male_df['Price'].sum()
per_male = (male_total/male_count)
female_df = df.loc[df['Gender'] == "Female",:]
female_average = female_df['Price'].mean()
female_total = female_df['Price'].sum()
per_female = (female_total/female_count)
other_df = df.loc[df['Gender']=='Other / Non-Disclosed']
other_average = other_df['Price'].mean()
other_total = other_df['Price'].sum()
per_other = (other_total/other_count)
purchase_count = [male_count,female_count,other_count]
averages = [male_average,female_average,other_average]
totals = [male_total, female_total, other_total]
per_person = [per_male,per_female,per_other]

summary_table4 = pd.DataFrame({'Purchase Count': purchase_count, 'Average Purchase Price':averages,
                            'Total Purchase Value':totals,'Avg Total Purchase Per Person':per_person})
summary_table4.index = cheat
summary_table4["Average Purchase Price"]=summary_table4["Average Purchase Price"].map("${:.2f}".format)
summary_table4["Total Purchase Value"]=summary_table4["Total Purchase Value"].map("${:.2f}".format)
summary_table4["Avg Total Purchase Per Person"]=summary_table4["Avg Total Purchase Per Person"].map("${:.2f}".format)

summary_table4

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Male,652,$3.02,$1967.64,$3.02
Female,113,$3.20,$361.94,$3.20
Other / Non-Disclosed,15,$3.35,$50.19,$3.35

In [6]:
bins = [0,9,14,19,24,29,34,39,100]
names = ['Less Than 10','10-14','15-19','20-24','25-29','30-34','35-39','Greater Than 40']
age_demo = pd.cut(df['Age'],bins,labels=names)
summary_table5 = pd.DataFrame(age_demo.value_counts(sort=False))
summary_table5['Percentage of Players'] = ((summary_table5['Age']/total_players)*100).map("{:.2f}%".format)
summary_table5 = summary_table5.rename(columns={'Age':'Total Count'})
summary_table5

                 Total Count Percentage of Players
Less Than 10              23                 2.95%
10-14                     28                 3.59%
15-19                    136                17.44%
20-24                    365                46.79%
25-29                    101                12.95%
30-34                     73                 9.36%
35-39                     41                 5.26%
Greater Than 40           13                 1.67%

#Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
df['Age Range'] = pd.cut(df['Age'],bins,labels=names)
df2 = df.groupby('Age Range',sort=False)
summary_table6 = pd.DataFrame(df['Age Range'].value_counts(sort=False))
summary_table6['Average Purchase Price'] = df2['Price'].mean()
summary_table6['Average Purchase Price'] = summary_table6['Average Purchase Price'].map("${:.2f}".format)
summary_table6['Total Purchase Value'] = df2['Price'].sum()
summary_table6['Avg Total Purchase per Person'] = (summary_table6['Total Purchase Value']/summary_table6['Age Range'])
summary_table6['Total Purchase Value'] = summary_table6['Total Purchase Value'].map("${:.2f}".format)
summary_table6['Avg Total Purchase per Person'] = summary_table6['Avg Total Purchase per Person'].map("${:.2f}".format)
summary_table6 = summary_table6.rename(columns={'Age Range':'Purchase Count'})
summary_table6

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Less Than 10,23,$3.35,$77.13,$3.35
10-14,28,$2.96,$82.78,$2.96
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,$1114.06,$3.05
25-29,101,$2.90,$293.00,$2.90
30-34,73,$2.93,$214.00,$2.93
35-39,41,$3.60,$147.67,$3.60
Greater Than 40,13,$2.94,$38.24,$2.94

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [15]:
df4 = df3[['SN','Price']]
sn_group = df4.groupby(['SN'])
#group_count = sn_group.count()
#total_price = sn_group.sum()
#average_price = (total_price/group_count)
#summary_table7 = pd.DataFrame({"Purchase Count": [group_count],"Average Purchase Price":average_price,"Total Purchase Value": total_price})
purchase_count = sn_group['SN'].value_counts()
total_purchase = sn_group['Price'].sum()
average_price = (total_purchase/purchase_count)
#summary_table7 = pd.DataFrame(spender['SN'].value_counts())
#print(group_count)
#summary_table7['Purchase Count'] = sn_group['SN'].value_counts()
#summary_table7['Total Purchase Value'] = spender['Price'].sum()
#summary_table7['Average Purchase Price'] = (summary_table7['Total Purchase Value']/summary_table7['Purchase Count'])
summary_table7 = pd.DataFrame({"Purchase Count": purchase_count,"Average Purchase Price":average_price,"Total Purchase Value": total_purchase})
#print(purchase_counts.count())
#print(top_spenders.count())
#print(average_spender.count())
#summary_table7.sort_values("Total Purchase Value",ascending=False)
summary_table7.head()

,,Purchase Count,Average Purchase Price,Total Purchase Value
Adairialis76,Adairialis76,1.0,2.28,NaN
Adastirin33,Adastirin33,1.0,4.48,NaN
Aeda94,Aeda94,1.0,4.91,NaN
Aela59,Aela59,1.0,4.32,NaN
Aelaria33,Aelaria33,1.0,1.79,NaN

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
df5 = df3[["Purchase ID","Item Name","Price"]]
pop_group = df5.groupby(['Purchase ID','Item Name'])
pop_group_df = pd.DataFrame(pop_group)
#purchase_count = pop_group_df['Purchase ID'].values_counts()
pop_group_df

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame